.sidebar {
  background-color: #ebb92e;
  color: #0c4185;
  padding: 2px 1px 1px;
  transition: all 0.7s;
}

.burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2px;
  width: 27px;
  height: 27px;
  box-shadow: unset;
  border: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}

.burger span {
  display: block;
  border-radius: 2px;
  width: 18px;
  height: 4px;
  background-color: #0c4185;
}

.inputs {
  flex-direction: column;
  padding: 15px 10px 0 15px;
}

.inputs input {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #0c4185;
  border-radius: 3px;
  color: #0c4185;
  font-weight: 700;
}
